@model List<MyIdentityChatApp.EntityLayer.Concrete.Message>
@{
    ViewData["Title"] = "Outbox";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content mt-4" style="margin-left:60px;">
    <table class="table table-bordred table-hover">
        <tr>
            <th>Gönderildiği Tarih</th>
            <th>Başlık</th>
            <th>İçerik</th>
            <th>Alıcı Adı</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.SentAt.ToShortDateString()</td>
                <td>@item.Title</td>
                <td>@item.Content</td>
                <td>@item.Receiver.Name @item.Receiver.Surname</td>
            </tr>
        }
    </table>
</section>
